<table width="99%" border="0" cellspacing="0" cellpadding="4" align="center">
    <tr class="letra12">
        <td width="10%">{$date_start.LABEL}: </td>
        <td>{$date_start.INPUT} <input class="button" type="submit" name="filter" value="{$Filter}" /></td>
    </tr>
    <tr class="letra12">
        <td>{$date_end.LABEL}:</td>
        <td>{$date_end.INPUT}</td>
        <td>{$agent.LABEL}:</td>
        <td>{$agent.INPUT}</td>
    </tr>
    <tr>
        <td>{$phone.LABEL}:</td>
        <td>{$phone.INPUT}</td>
    </tr>
</table>