
<table width='100%' border='0'>
<td align='left'>
<table width='100%' border='0'>
<tr>
    <td class='letra12' align='center'>{$busqueda.LABEL}</td>
    <td class='letra12' align='center'>{$busqueda.INPUT}</td>
    <td class='letra12'>&nbsp;</td>
    <td class='letra12' align='center'><input class="button" type="submit" style="font-size:9pt;color:white;background-color:#6e417d;border:2px solid #6e417d;padding:4px" name="filtrar" value="  Filtrar  "/></td>
</tr>
</table>
</td>
</table>
